<div class="row">
  <img src="assets/images/logo-dark.png" alt="logo">
</div>
<div class="row constrained-width">
  <div class="s-col-6 l-col-3">
    <p class="title">Dúvidas?</p>
    <div class="row no-padding"><a class="white-text" href="mailto: anemonas.sh@gmail.com"><i class="far fa-envelope"></i> anemonas.sh@gmail.com</a></div>
  </div>
  <div class="s-none l-col-3">
    <p class="title">Nossa empresa</p>
    <div class="row no-padding"><a href="#">Home</a></div>
    <div class="row no-padding"><a href="#about">Sobre</a></div>
    <div class="row no-padding"><a href="#specialty">Especialidades</a></div>
    <div class="row no-padding"><a href="#contact">Contato</a></div>
  </div>
  <div class="s-col-6 l-col-3">
    <p class="title">Equipe</p>
    <div class="row no-padding"><a href="https://www.linkedin.com/in/danielvassalo/">Daniel Vassalo</a></div>
    <div class="row no-padding"><a href="https://www.linkedin.com/in/francamacdowell/">França Mac Dowell</a></div>
    <div class="row no-padding"><a href="https://www.linkedin.com/in/gabriel-barbosa-091673189/">Gabriel Barbosa</a></div>
    <div class="row no-padding"><a href="https://www.linkedin.com/in/gabriel-barbosa-091673189/">Lucas de Oliveira</a></div>
    <div class="row no-padding"><a href="https://www.linkedin.com/in/lucas-ribeiro-raggi-682012190/">Lucas Ribeiro</a></div>
    <div class="row no-padding"><a href="https://www.linkedin.com/in/nelson-gomes-neto-0889aa183/">Nelson Gomes</a></div>
    <div class="row no-padding"><a href="https://www.linkedin.com/in/wagner-fontes/">Wagner Fontes</a></div>
  </div>
  <div class="s-none l-col-3">
    <p class="title">Redes sociais</p>
    <div class="row no-padding"><a href="#"><i class="fab fa-facebook"></i> Anemonas.sh</a></div>
  </div>
</div>
<footer class="row no-padding">
  <div class="first-polygon">
    <div class="second-polygon">
      <span>Copyright @ Anemonas S.H.</span>
    </div>
  </div>
</footer>
