@import "src/assets/stylesheets/variables";

:host {
  height: 50px;
}

.row {
  height: 100%;
}

.logo {
  background-image: url("src/assets/images/logo-dark.png");
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar div {
  cursor: pointer;

  &:hover,
  &.active {
    font-weight: bold;
  }

  &.active {
    color: $primary-color;

    //&::after {
    //  content: " ";
    //  background: transparent linear-gradient(28deg, #6362D7 0%, #FF8FE2 100%) 0 0 no-repeat padding-box;
    //  width: 8px;
    //  height: 8px;
    //  display: block;
    //  border-radius: 4px;
    //  margin: auto;
    //}
  }
}
