<div class='wrapper' [style.height]="getWrapperHeight()">
  <div class='carousel'>
    <div class='carousel__item'>
      <img class='carousel__item-img' src="assets/images/experience/ufal.png">
      <div class='carousel__item-body'>
        <p class='title'>UFAL</p>
        <p>Em projetos de pesquisa e tecnologia, utilizando conceitos de inteligência artificial e de desenvolvimento
          web/mobile, fomos responsáveis por elaborar sistemas que integrassem ambos as áreas, sempre com foco otimizar
          os processos e a utilizar o estado da arte.</p>
        <div class="action">
          <a target="_blank" href="https://ufal.br/">Saiba mais</a>
        </div>
      </div>
    </div>
    <div class='carousel__item'>
      <img class='carousel__item-img' src="assets/images/experience/quintoandar.png">
      <div class='carousel__item-body'>
        <p class='title'>Quinto Andar</p>
        <p>Como cientista de dados utilizamos das capacidades analíticas e técnicas para gerar insights através da
          análise dos dados além se fazer uso de conhecimentos de estatística e aprendizagem de máquina na fomentação de
          modelos para resoulução de problemas reais. Já como engenheiro de dados fomos responsáveis pela arquitetura e
          infraestrutura de dados focando no design, na construção e na manutenção de sistemaas de armazenamento e
          processamento de dados.</p>
        <div class="action">
          <a target="_blank" href="https://www.quintoandar.com.br/">Saiba mais</a>
        </div>
      </div>
    </div>
    <div class='carousel__item'>
      <img class='carousel__item-img' src="assets/images/experience/edge.png">
      <div class='carousel__item-body'>
        <p class='title'>Centro de Inovação EDGE</p>
        <p>No cargo de desenvolvedor de software, trabalhamos na criação de novos produtos e na atualização de produtos
          que demandam uma alta carga e performance, com alta sensibilidade a atualizações por serem produtos já
          lançados no mercado e utilizados mundialmente em empresas como a Prysmian, Ingênico, Petrobras, entre
          outras.</p>
        <div class="action">
          <a target="_blank" href="http://edgebr.org/">Saiba Mais</a>
        </div>
      </div>
    </div>
    <div class='carousel__item'>
      <img class='carousel__item-img' src="assets/images/experience/ilhasoft.png">
      <div class='carousel__item-body'>
        <p class='title'>IlhaSoft</p>
        <p>Como engenheiros de Aprendizagem de Máquina fomos responsáveis pelo gerenciamento, criação e aperfeiçoamento
          de modelos de PLN - processamento de linguagem natural, visando obter a melhor performance e escalabilidade
          dos mesmos e aplicá-los a produtos comerciais.</p>
        <div class="action">
          <a target="_blank" href="https://www.ilhasoft.com.br/">Saiba mais</a>
        </div>
      </div>
    </div>
    <div class='carousel__item'>
      <img class='carousel__item-img' style="background-color: #136a89" src="assets/images/experience/tatu.jpg">
      <div class='carousel__item-body'>
        <p class='title'>Projeto Tatu</p>
        <p>No projeto Tatu, trabalhamos utilizando ferramentas para construção de aplicações mobile híbridas, o que
          permitiu grande flexibilidade e agilidade no desenvolvimento.</p>
        <div class="action">
          <a target="_blank" href="https://projetotatu.com.br/">Saiba mais</a>
        </div>
      </div>
    </div>
  </div>
</div>
