.card {
  border-radius: 8px;
  box-shadow: 0 10px 30px #99999933;

  .header{
    padding: 16px;
  }

  img.avatar {
    max-width: 210px;
  }

  .body {
    padding: 16px;
  }
    .title {
      font-size: 1.4em;
      padding-bottom: 12px;
    }

  .header + .body {
    padding-top: 0;
  }
}
