.no-padding {
  padding: 0 !important;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left !important;
}

.text-bold {
  font-weight: bold;
}

.margin-auto {
  margin: auto;
}

.full-with {
  max-width: 100% !important;
}
