@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "assets/stylesheets/styles";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  letter-spacing: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.no-padding {
  padding: 0 !important;
}

.row {
  display: flex;
  padding-left: 16.6666666%;
  padding-right: 16.6666666%;
  align-items: center;
}

.col-1 {
  width: 8.3333333333%;
  text-align: center;
}

.col-2 {
  width: 16.6666666667%;
  text-align: center;
}

.col-3 {
  width: 25%;
  text-align: center;
}

.col-4 {
  width: 33.3333333333%;
  text-align: center;
}

.col-5 {
  width: 41.6666666667%;
  text-align: center;
}

.col-6 {
  width: 50%;
  text-align: center;
}

.col-7 {
  width: 58.3333333333%;
  text-align: center;
}

.col-8 {
  width: 66.6666666667%;
  text-align: center;
}

.col-9 {
  width: 75%;
  text-align: center;
}

.col-10 {
  width: 83.3333333333%;
  text-align: center;
}

.col-11 {
  width: 91.6666666667%;
  text-align: center;
}

.col-12 {
  width: 100%;
  text-align: center;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%
}

.offset-11 {
  margin-left: 91.6666666667%
}

.offset-12 {
  margin-left: 100%
}
