<section>
  <div class="row">
    <div class="s-col-12 l-col-12">
      <h1 class="text-center">
        Oferecemos <span class="text-bold">programação outsourcing</span><br/>
        para os seus problemas complexos
      </h1>

      <p class="text-center">
        <span class="text-bold">É essencial para empresas visionárias ter uma equipe de tecnologia com profissionais ágeis e capacitados.</span><br/>
        No entanto, o mercado tem uma grande demanda e nem sempre é fácil achar esses profissionais... Sorte sua que não
        precisa mais procurar, acabou de <span class="text-bold">encontrá-los!</span>
      </p>

      <div class="row no-padding">
        <div class="margin-auto">
          <a href="#specialty">
            <button class="btn">
              Especialidades
            </button>
          </a>

          <a href="#about">
            <button class="btn btn-plain">
              Saiba mais
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="s-col-12 l-col-12">
      <img src="assets/images/scenes/scene-1.png">
    </div>
  </div>
</section>

<section id="about">
  <div class="row s-column">
    <div class="s-col-12 l-col-6 text-left">
      <h2>
        Quais os benefícios do<br/>
        <span class="text-bold">nosso outsourcing?</span>
      </h2>

      <p>
        Utilizando os serviços e os profissionais da Anemonas S.H. sua empresa <span
        class="text-bold">reduzirá custos</span> com os processos de procura e contratação desses profissionais, terá os
        profissionais corretos especializados em cada área, poderá livremente <span class="text-bold">focar no core do seu business</span>,
        e poderá <span class="text-bold">contratar o serviço temporariamente</span> de acordo com sua demanda.
      </p>

      <a href="#specialty">
        <button class="btn">
          Especialidades
        </button>
      </a>
    </div>

    <div class="s-col-12 l-col-6">
      <img src="assets/images/scenes/scene-2.png">
    </div>
  </div>
</section>

<section>
  <div class="row s-column-reverse">
    <div class="s-col-12 l-col-6">
      <img src="assets/images/scenes/scene-3.png">
    </div>

    <div class="s-col-12 l-col-6 text-left">
      <h2>
        Como ajudamos sua área de <span class="text-bold">tecnologia?</span>
      </h2>

      <p>
        Com nossos processos, iremos <span class="text-bold">priorizar e resolver as demandas adequadamente</span>,
        garantindo a <span class="text-bold">excelência dos serviços oferecidos</span> e <span class="text-bold">estruturando os processos de TI</span>
        da melhor forma e com as melhores metodologias exigidas pelo mercado tão dinâmico.
      </p>

      <a href="#contact">
        <button class="btn">
          Contato
        </button>
      </a>
    </div>
  </div>
</section>

<section id="experience">
  <div class="row">
    <div class="s-col-12 l-col-12">
      <h1 class="text-center">
        Um pouco da nossa <span class="text-bold">experiência</span>
      </h1>
    </div>
  </div>

  <div>
    <app-experience></app-experience>
  </div>
</section>

<section id="specialty">
  <div class="row">
    <div class="s-col-12 l-col-12">
      <h1 class="text-center">
        Quais as nossas<br/>
        <span class="text-bold">especialidades?</span>
      </h1>
    </div>
  </div>

  <div class="row l-card-grid s-column">
    <div class="card">
      <div class="header">
        <div class="title">Inteligência Artificial</div>

        <img class="avatar" src="assets/images/specialties/artificial-intelligence.svg">
      </div>

      <div class="body">
        <div class="content">
          <span class="text-bold">Eleve seu projeto para o próximo nível!</span><br/>
          Utilize Inteligência Artificial através de nossas mentorias e assessorias, escalando seu projeto, e tenha
          vantagem sobre competidores do mercado.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="header">
        <div class="title">Desenvolvimento de Software</div>

        <img class="avatar" src="assets/images/specialties/software-development.svg">
      </div>

      <div class="body">
        <div class="content">
          <span class="text-bold">Um mundo totalmente digital já é realidade!</span><br/>
          Tenha suas ideias construídas no frontend ou backend por nós. Aplicações web, móveis, real time ou qualquer
          escolha sua.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="header">
        <div class="title">Análise e Mineração de Dados</div>

        <img class="avatar" src="assets/images/specialties/big-data.svg">
      </div>

      <div class="body">
        <div class="content">
          <span class="text-bold">Dados e informações são o novo petróleo!</span><br/>
          Tome decisões baseadas em dados e acelere seu negócio de forma disruptiva. Nós construímos plataformas de
          dados que escalam e permitem as melhores análises de negócio.
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="blue full-with">
  <div class="container">
    <div class="row">
      <div class="s-col-12 l-col-12">
        <h1 class="text-center">
          Como podemos te ajudar?<br/>
          <span class="text-bold">Contate-nos</span>
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="s-col-12 l-col-8 l-offset-2">
        <div class="form-card">
          <form #contactForm="ngForm" (ngSubmit)="makeRequest(contactForm)" id="contact-form" method="post"
                ngNativeValidate>
            <div class="row no-padding s-column">
              <div class="input-field s-col-12 l-col-6">
                <input id="first-name" type="text" name="firstName" ngModel required placeholder="José">
                <label for="first-name">Nome:</label>
              </div>
              <div class="input-field s-col-12 l-col-6">
                <input id="last-name" type="text" name="lastName" ngModel required placeholder="Silva">
                <label for="last-name">Sobrenome:</label>
              </div>
            </div>
            <div class="row no-padding">
              <div class="input-field s-col-12 l-col-12">
                <input id="company-name" type="text" name="companyName" ngModel placeholder="Empresa LTDA">
                <label for="company-name">Nome da empresa:</label>
              </div>
            </div>
            <div class="row no-padding">
              <div class="input-field s-col-12 l-col-12">
                <input id="email" type="email" name="email" ngModel required placeholder="jose@empresa.com">
                <label for="email">E-mail para contato:</label>
              </div>
            </div>
            <div class="row no-padding">
              <div class="input-field s-col-12 l-col-12">
                <select id="reason-select" name="reason" ngModel required>
                  <option value="" selected>------</option>
                  <option value="Doubts">Dúvidas</option>
                  <option value="Service contract">Contrato de serviços</option>
                </select>
                <label for="reason-select">Motivo do contato:</label>
              </div>
            </div>
            <div class="row no-padding">
              <div class="input-field s-col-12 l-col-12">
                <textarea id="message" name="message" ngModel required placeholder="Qual o motivo do seu contato?"></textarea>
                <label for="message">Escreva aqui sua mensagem:</label>
              </div>
            </div>
            <div class="row no-padding">
              <button class="btn" type="submit">Enviar <i class="fas fa-paper-plane"></i></button>
              <div *ngIf="isLoading" class="loader"><span></span></div>
            </div>
          </form>
          <div id="alert" class="overlay" *ngIf="alertVisibility">
            <div class="popup">
              <a class="close" (click)="changeAlertVisibility()">&times;</a>
              <h2>{{ alertTitle }}</h2>
              <div class="content">
                {{ alertMessage }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
