<section>
  <div class="row">
    <div class="offset-2 col-8">
      <h1 class="text-center">
        <span class="text-bold">We Create Simple Solutions</span><br/>
        For Your Complex Task
      </h1>

      <p>
        Lorem ipsum dolor sit amet, vel accumsan liberavisse ex, ea nec elaboraret interpretaris, sed diceret
        concludaturque no. Verear habemus sea ut
      </p>

      <div class="row no-padding">
        <div class="col-6 margin-auto">
          <div class="btn">
            <span>Our works</span>
          </div>

          <div class="btn btn-plain">
            <span>Our works</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
