<section>
  <div class="row">
    <div class="offset-2 col-8">
      <h1 class="text-center">
        <span class="text-bold">Nós criamos soluções simples</span><br/>
        para os seus problemas complexos
      </h1>

      <p>
        Anemonas tem como objetivo construir tecnologias de alto nível que facilitam e automatizam processos, minimizam
        os esforços operacionais e trazem seus projetos à vida com a stack de tecnologia mais efetiva e atualizada do
        mercado.
      </p>

      <div class="row no-padding">
        <div class="margin-auto">
          <div class="btn">
            <span>Portfólio</span>
          </div>

          <div class="btn btn-plain">
            <span>Saiba mais</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <img src="assets/images/scenes/scene-1.png">
    </div>
  </div>
</section>

<section id="about">
  <div class="row">
    <div class="col-6 text-left">
      <h2>
        O processo do<br/>
        <span class="text-bold">nosso trabalho</span>
      </h2>

      <p>
        Hoje em dia, tudo muda e acontece rapidamente, portanto nós também. Utilizamos metodologias ágeis para criação,
        desenvolvimento, validação e teste de todos os projetos. Sempre estar perto do cliente, com entregas constantes
        e rápidas é nossa principal filosofia.
      </p>

      <div class="btn">
        <span>Saiba mais</span>
      </div>
    </div>

    <div class="col-6">
      <img src="assets/images/scenes/scene-2.png">
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="col-6">
      <img src="assets/images/scenes/scene-3.png">
    </div>

    <div class="col-6 text-left">
      <h2>
        Estamos aqui para<br/>
        <span class="text-bold">te ajudar</span> sempre
      </h2>

      <p>
        Conte conosco para confiar, ajudar e tirar dúvidas sobre as implementações e quais tecnologias utilizar no dia a
        dia dos seus problemas.
      </p>

      <div class="btn">
        <span>Saiba mais</span>
      </div>
    </div>
  </div>
</section>

<section id="specialty">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">
        Quais as nossas<br/>
        <span class="text-bold">especialidades?</span>
      </h1>
    </div>
  </div>

  <div class="row card-grid">
    <div class="card">
      <div class="header">
        <div class="title">Inteligência Artificial</div>

        <img class="avatar" src="assets/images/specialties/artificial-intelligence.svg">
      </div>

      <div class="body">
        <div class="content">
          <span class="text-bold">Eleve seu projeto para o próximo nível!</span><br/>
          Utilize Inteligência Artificial através de nossas mentorias e assessorias, escalando seu projeto, e tenha
          vantagem sobre competidores do mercado.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="header">
        <div class="title">Desenvolvimento de Software</div>

        <img class="avatar" src="assets/images/specialties/software-development.svg">
      </div>

      <div class="body">
        <div class="content">
          <span class="text-bold">Um mundo totalmente digital já é realidade!</span><br/>
          Tenha suas ideias construídas no frontend ou backend por nós. Aplicações web, móveis, real time ou qualquer
          escolha sua.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="header">
        <div class="title">Análise e Mineração de Dados</div>

        <img class="avatar" src="assets/images/specialties/big-data.svg">
      </div>

      <div class="body">
        <div class="content">
          <span class="text-bold">Dados e informações são o novo ouro!</span><br/>
          Tome decisões baseadas em dados e acelere seu negócio de forma disruptiva. Nós construímos plataformas de
          dados que escalam e permitem as melhores análises de negócio.
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="blue">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center">
          Como podemos te ajudar?<br/>
          <span class="text-bold">Contate-nos</span>
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="col-8 offset-2">
        <div class="card">
          <form id="contact-form" method="post">
            <div class="row no-padding">
              <div class="input-field col-6">
                <input id="first-name" type="text" name="first-name" required>
                <label for="first-name">Nome:</label>
              </div>
              <div class="input-field col-6">
                <input id="last-name" type="text" name="last-name" required>
                <label for="last-name">Sobrenome:</label>
              </div>
            </div>
            <div class="row no-padding">
              <div class="input-field col-12">
                <input id="company-name" type="text" name="company-name">
                <label for="company-name">Nome da empresa:</label>
              </div>
            </div>
            <div class="row no-padding">
              <div class="input-field col-12">
                <input id="email" type="email" name="email" required>
                <label for="email">E-mail para contato:</label>
              </div>
            </div>
            <div class="row no-padding">
              <div class="input-field col-12">
                <select id="reason-select" name="reason-select">
                  <option value="" selected>------</option>
                  <option value="Doubts">Dúvidas</option>
                  <option value="Service contract">Contrato de serviços</option>
                </select>
                <label for="reason-select">Motivo do contato:</label>
              </div>
            </div>
            <div class="row no-padding">
              <div class="input-field col-12">
                <textarea id="message" name="message" required></textarea>
                <label for="message">Escreva aqui sua mensagem:</label>
              </div>
            </div>
            <div class="row no-padding">
              <div class="btn left">
                <span>Enviar <i class="fas fa-paper-plane"></i></span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
