section {
  padding: 16px 0;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 720px;
}

.card {
  height: 100%;
  text-align: center;
}

.card-grid {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 16px;
}
