.card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  box-shadow: 0 20px 60px #3E3E3E29;
  border-radius: 8px;
}
